.main-text{
  
  background-color: #dbdbdb;
  padding: 20px;
  text-align: center;
}

/* Style the header */
.header {
  
    background-color: #dbdbdb;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #000000;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

  .stickynav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 190px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #3f8df3;
    color: rgb(0, 0, 0);
  }
 
.topnav{
  width: 100%;
  height: 100px;
  border: 2px solid #3f8df3;
}

.stickynav{
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100px;
  border: 2px solid #3f8df3;
  list-style-type: ;
  margin-top: ;
  padding: 0px;
  overflow: hidden;
  background-color: #010101;
  position: sticky;
  top: 0;
}

.mama-text{
  padding-top: 40;
}

<style>
div.gallery {
  border: 2px solid #3f8df3;
}

div.gallery:hover {
  border: 2px solid #000000;
  border-radius: 8px;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 30 350px;
  float: left;
  width: 24.99999%;
  padding-left: 37;
}


.clearfix:after {
  content:"";
  display: table;
  clear: both;
}

div.gallery {
  background-color: #ffffff;
  width: 350px;
  box-shadow: 0 8px 6px 0 #000000, 0 20px 20px 0 #000000;
  text-align: center;
}

div.video {
  background-color: #ffffff;
  width: 350px;
  box-shadow: 0 8px 6px 0 #3f8df3, 0 20px 20px 0 #3f8df3;
  text-align: center;
}

div.container {
  padding: 10px;
}

.sibling-text{
  padding-top:600;
}


.footer {
  background-color: #000000;
  text-decoration: #000000;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 40;
}
</style>

