
  *{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.left-logo{
  position:absolute;
}

.right-logo{
  position:absolute;
  padding-left: 1125px;
}

/* Style the header */
.header {
  
  background-color: #dbdbdb;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
}

/* Style the topnav links */
.topnav a {
  float: center;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #3f8df3;
  color: rgb(0, 0, 0);
}

img {
  float: left;
}

.audio {
  background-color: #000000;
  text-decoration: #000000;
  padding: 20px;
  text-align: center;
  color: #000000;
}


.footer {
  
  background-color: #000000;
  text-decoration: #000000;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}